{{ define "main" }}
<main>
  <article>
    <h2>
      {{ .Title | markdownify }}
    </h2>
    {{ if eq .Type "posts" }}
    <time datetime='{{ .Date.Format "2006-01-02" | safeHTML }}'>
      {{.Date.Format "2006-01-02"}} — {{ .ReadingTime }} {{ if gt .ReadingTime 1 }}minutes{{ else }}minute{{ end }} read
    </time>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
    {{ with .Params.tags }}
    <div>
      <ul id="tags">
        {{ range . }}
        <li><a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ with .Site.DisqusShortname }}
    <div>
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </article>
  <div class="navigation">
    {{ if eq .Type "posts" }}
    <p><a class="btn" href="/posts/"><span class="icon icon-left"><svg width="1em" height="1em" viewBox="0 0 206 180"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M89.6 179.2L105 163.8L41.6 100.6H205.8V78.6H41.6L105 15.2L89.6 0L0 89.6L89.6 179.2Z" />
          </svg>
        </span><span class="text">Go back</span>
      </a></p>
    {{ end }}
    <p><a class="btn" href="#top"><span class="text">Go to the top</span><span class="icon icon-right"><svg width="1em"
            height="1em" viewBox="0 0 180 206" xmlns="http://www.w3.org/2000/svg">
            <path d="M78.8 206H100.8V41.6L164.2 105L179.4 89.6L89.8 0L0 89.6L15.6 105L78.8 41.6V206Z" />
          </svg>
        </span>
      </a></p>
  </div>
</main>
{{ end }}