<div class="album-grid">
  {{ range where .Pages.ByDate.Reverse "Params.private" "ne" true }}
    {{ $images := .Resources.ByType "image" }}
    {{ if gt (len $images) 0 }}
      {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
      {{ $thumbnail := $featured.Fill "900x600" }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      {{ $counts := partial "get_counts.html" . }}

      <a href="{{ .RelPermalink }}" class="album" title="{{ .Title }}">
        <div>
          <div
            style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}; height: 100%">
            <img class="lazyload" style="width: 100%" data-src="{{ $thumbnail.RelPermalink }}"
              alt="{{ .Title }}" />
          </div>
          <div class="album-info">
            <h2>
              {{ .Title }}
            </h2>
            <p>
              {{- i18n "photoCount" $counts.images }}
              {{ if gt $counts.albums 0 }}{{ i18n "in" }} {{ i18n "albumCount" $counts.albums }}{{ end -}}
            </p>
          </div>
        </div>
      </a>
    {{ end }}
  {{ end }}
</div>
