<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

{{- partial "header.html" . -}}

<body class="body-narrow index-body">
  <div id="content">
    {{ .Content }}

    <hr>

    <section class="recent-posts">
      <h2>Recent posts</h2>
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <table>
        <tr>
          <th>Date</th>
          <th>Post title</th>
        </tr>
        {{ range $paginator.Pages }}
        <tr>
          <td>
            {{.Date.Format "2006-01-02"}}
          </td>
          <td>
            <a href="{{.Permalink}}">
              {{.Title}}
            </a>
          </td>
        </tr>
        {{ end }}
      </table>

      <!-- <div class="posts-list">
        {{ range $paginator.Pages }}
        <p>
          {{.Date.Format "2006-01-02"}}
        </p>
        <a href="{{.Permalink}}">
          <p>
            {{.Title}}
          </p>
        </a>
        {{ end }}
      </div> -->
      <p><a class="btn" href="/posts"><span class="text">All the posts</span><span class="icon icon-right"><svg width="1em"
              height="1em" viewBox="0 0 206 180" xmlns="http://www.w3.org/2000/svg">
              <path d="M116.2 179.2L205.8 89.6L116.2 0L100.8 15.4L164.2 78.6H0V100.6H164.2L100.8 164L116.2 179.2Z" />
            </svg></span>
        </a></p>
    </section>
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>